<div ng-controller="ProfileController">
  <div ng-include="templateUrl"></div>

  <section style="background-color: #eee;">
    <div class="container mt-5 pt-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card mb-4">
            <div class="card-header">
              <div class="me-auto p-2">Account Details <a href="#/profile/editprofile" class="btn btn-secondary float-end">Edit Profile</a>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="text-center">
                    <img ng-src="{{ profile }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">{{ user.lname }}, {{ user.fname }} {{ user.age }}</h5>
                    <p class="text-muted mb-1">{{ user.position }}</p>
                    <p class="text-muted mb-4">{{ user.email }}</p>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ user.fname }} {{ user.lname }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Gender</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ user.gender }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Birthdate</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ user.bdate | date:'MMMM d, yyyy'}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Joined</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ user.created }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Last Login</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ user.last_login }}</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <hr>
                  <h6>Hubby:</h6>
                  <p class="text-muted mt-4">{{ user.hubby }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>