<div class="pt-3 pe-3" perfect-scrollbar style="position: relative; height: 400px">

    <div ng-repeat="convo in chatroom">
        <div class="d-flex flex-row justify-content-start" ng-if="convo.you !== null">
            <img ng-src="{{ '../../onboarding/server/app/webroot/img/profile/' + convo.you_profile }}" alt="avatar 1" style="width: 45px; height: 100%;">
            <div>
                <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{ convo.you }}</p>
                <p class="small ms-3 mb-3 rounded-3 text-muted float-end">{{ convo.created }}</p>
            </div>
        </div>
    
        <div class="d-flex flex-row justify-content-end" ng-if="convo.me !== null">
            <div>
                <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">{{ convo.me }}</p>
                <p class="small me-3 mb-3 rounded-3 text-muted">{{ convo.created }}</p>
            </div>
            <img ng-src="{{ '../../onboarding/server/app/webroot/img/profile/' + convo.me_profile }}" alt="avatar 1" style="width: 45px; height: 100%;">
        </div>
    </div>

</div>

<div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
    <img ng-src="{{ profile }}" alt="avatar 3" style="width: 40px; height: 100%;">
    <input type="text" ng-model="reply" class="form-control form-control-lg" placeholder="Type message">
    <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
    <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
    <a class="ms-3" href="" ng-click="replyMessage(reply)"><i class="fas fa-paper-plane"></i></a>
</div>