<style>
</style>

<div style="position: relative; height: 500px">
    <form class="p-5" ng-submit="submitMessage(send)">
        <p class="h4 mb-4 text-center">Compose Message</p>
        <div class="form-group">
            <div class="mb-3">
                <label class="small mb-1">Recipient</label>
                <select class="form-control" select2 ng-model="send.recipient" data-placeholder="Search for a recipient">
                    <option></option>
                </select> 
            </div>
            <div class="mb-3">
                <label class="small mb-1">Message</label>
                <textarea class="form-control rounded-0" ng-model="send.message" id="defaultForm-message" rows="5" placeholder="Message"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-info btn-block my-4">Send Message</button>
    </form>
</div>