<style>
    /* #chat3 .form-control {
        border-color: transparent;
    } */

    #chat3 .form-control:focus {
        /* border-color: transparent; */
        box-shadow: inset 0px 0px 0px 1px transparent;
    }

    .badge-dot {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        margin-left: 2.9rem;
        margin-top: -.75rem;
    }

    /* Initially hide the button */
    .hover-visible {
        visibility: hidden;
    }

    /* Show the button when its parent is hovered */
    .d-flex:hover .hover-visible {
        visibility: visible;
    }

</style>
<div ng-controller="MessageController" ng-init="messageConvo()">
    <div ng-include="templateUrl"></div>
    <section style="background-color: #eee;">
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Message</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="card" id="chat3" style="border-radius: 15px;">
                        <div class="card-header">
                            <div class="me-auto p-2">ChatBox 
                                <a href="" ng-click="messageComponents('sendmessage', '')" class="btn btn-secondary float-end">Send Message</a>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                                    <div class="p-3">

                                        <div class="input-group rounded mb-3">
                                           <input type="search" class="form-control rounded" ng-model="search_name" placeholder="Search"
                                                aria-label="Search" aria-describedby="search-addon" />
                                            <a href="" class="input-group-text border-0" id="search-addon" ng-click="searchConvo()">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </div>

                                        <div perfect-scrollbar-top style="position: relative; height: 400px">
                                            <ul class="list-unstyled mb-0">
                                                <li class="p-2 border-bottom" ng-repeat="data in message">
                                                    <a href="" ng-click="messageComponents('chatbox', data)" class="d-flex justify-content-between">
                                                        <div class="d-flex flex-row">
                                                            <div>
                                                                <img ng-src="{{'../../onboarding/server/app/webroot/img/profile/' + data.profile}}"
                                                                    alt="avatar" class="rounded-circle d-flex align-self-center me-3"
                                                                    width="60">
                                                                <span class="badge bg-success badge-dot"></span>
                                                            </div>
                                                            <div class="pt-1">
                                                                <p class="fw-bold mb-0">{{ data.fullname }}</p>
                                                                <p class="small text-muted">{{ data.content }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="pt-1">
                                                            <p class="small text-muted mb-1">{{ data.created }}</p>
                                                            <span ng-if="data.count != 0" class="badge bg-danger rounded-pill float-end">{{ data.count }}</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="text-center" ng-if="totalItems > pagination.limit"> <a href="" ng-click="loadMoreMessages()"> Show More </a> </div>
                                    </div>

                                </div>

                                <!-- <div class="col-md-6 col-lg-7 col-xl-8" ng-include="messageTemplate"> -->
                                <div class="col-md-6 col-lg-7 col-xl-8">
                                    <div id="chatbox" ng-if="chatbox">
                                        <div ng-if="!loadMoreActive" class="pt-3 pe-3" perfect-scrollbar-bottom style="position: relative; height: 400px">
                                            <div class="text-center" ng-if="totalconvo > 10"> <a href="" ng-click="loadMoreConvos()"> Show More </a> </div>
                                            <div ng-repeat="convo in chatroom | orderBy:'id'">
                                                <div class="d-flex flex-row justify-content-start" ng-if="convo.you !== null">
                                                    <img ng-src="{{ '../../onboarding/server/app/webroot/img/profile/' + convo.you_profile }}" alt="avatar 1" 
                                                        class="rounded-circle" style="width: 45px; height: 100%;">
                                                    <div>
                                                        <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{ convo.you }}</p>
                                                        <p class="small ms-3 mb-3 float-start rounded-3 text-muted">{{ convo.created }}</p>
                                                    </div>
                                                </div>
                                            
                                                <div class="d-flex flex-row justify-content-end" ng-if="convo.me !== null">
                                                    <div>
                                                        <div class="col-auto d-flex align-items-center" style="cursor: pointer;">
                                                            <div class="dropdown">
                                                                <span class="p-2 me-2 d-flex align-items-center justify-content-center hover-visible" 
                                                                    id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
                                                                  <i class="fas fa-ellipsis-v"></i>
                                                                </span>
                                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                  <li><a class="dropdown-item" href="" ng-click="removeMessage(convo)">Remove</a></li>
                                                                </ul>
                                                              </div>
                                                            <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">{{ convo.me }}</p>
                                                        </div>
                                                        <p class="small me-3 mb-3 float-end rounded-3 text-muted">{{ convo.created }}</p>
                                                    </div>
                                                    <img ng-src="{{ '../../onboarding/server/app/webroot/img/profile/' + convo.me_profile }}" alt="avatar"
                                                        class="rounded-circle" style="width: 45px; height: 100%;">
                                                </div>
                                            </div>
                                    
                                        </div>
                                        <div ng-if="loadMoreActive" class="pt-3 pe-3" perfect-scrollbar-top style="position: relative; height: 400px">
                                            <div class="text-center" ng-if="totalconvo > 10"> <a href="" ng-click="loadMoreConvos()"> Show More </a> </div>
                                            <div ng-repeat="convo in chatroom | orderBy:'id'">
                                                <div class="d-flex flex-row justify-content-start" ng-if="convo.you !== null">
                                                    <img ng-src="{{ '../../onboarding/server/app/webroot/img/profile/' + convo.you_profile }}" alt="avatar 1" 
                                                        class="rounded-circle" style="width: 45px; height: 100%;">
                                                    <div>
                                                        <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">{{ convo.you }}</p>
                                                        <p class="small ms-3 mb-3 float-start rounded-3 text-muted">{{ convo.created }}</p>
                                                    </div>
                                                </div>
                                            
                                                <div class="d-flex flex-row justify-content-end" ng-if="convo.me !== null">
                                                    <div>
                                                        <div class="col-auto d-flex align-items-center" style="cursor: pointer;">
                                                            <div class="dropdown">
                                                                <span class="p-2 me-2 d-flex align-items-center justify-content-center hover-visible" 
                                                                    id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
                                                                  <i class="fas fa-ellipsis-v"></i>
                                                                </span>
                                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                  <li><a class="dropdown-item" href="" ng-click="removeMessage(convo)">Remove</a></li>
                                                                </ul>
                                                              </div>
                                                            <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">{{ convo.me }}</p>
                                                        </div>
                                                        <p class="small me-3 mb-3 float-end rounded-3 text-muted">{{ convo.created }}</p>
                                                    </div>
                                                    <img ng-src="{{ '../../onboarding/server/app/webroot/img/profile/' + convo.me_profile }}" alt="avatar"
                                                        class="rounded-circle" style="width: 45px; height: 100%;">
                                                </div>
                                            </div>
                                    
                                        </div>
                                        <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                                            <img ng-src="{{ profile }}" alt="avatar 3" style="width: 40px; height: 100%;">
                                            <input type="text" ng-model="chat.reply" class="form-control form-control-lg" placeholder="Type message"/>
                                            <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
                                            <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
                                            <a href="" ng-click="replyMessage(chat.reply)" class="ms-3"><i class="fas fa-paper-plane"></i></a>
                                        </div>
                                    </div>

                                    <div id="sendmessage" ng-if="sendmessage" style="position: relative; height: 500px">
                                        <!-- <form class="p-5" ng-submit="submitMessage(send, 'chatbox')"> -->
                                            <p class="h4 mb-4 text-center">Compose Message</p>
                                            <div class="form-group">
                                                <div class="mb-3">
                                                    <label class="small mb-1">Recipient</label>
                                                    <select class="form-control" select2 ng-model="send.recipient" data-placeholder="Search for a recipient">
                                                        <option></option>
                                                        <option ng-repeat="users in allusers | filter: { id: '!' + user.id }" 
                                                            value="{{users.id}}" 
                                                            data-image="../../onboarding/server/app/webroot/img/profile/{{users.profile}}">
                                                            {{ users.fullname }}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="small mb-1">Message</label>
                                                    <textarea class="form-control rounded-0" ng-model="send.message" id="defaultForm-message" rows="5" placeholder="Message"></textarea>
                                                </div>
                                            </div>
                                            <!-- <button type="submit" class="btn btn-info btn-block my-4">Send Message</button> -->
                                            <a href="" ng-click="submitMessage(send, 'chatbox')" class="btn btn-info btn-block my-4">Send Message</a>
                                        <!-- </form> -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>