<div ng-controller="ProfileController">
    <div ng-include="templateUrl"></div>

    <div class="container my-5 d-flex justify-content-center">
        <div class="card shadow-sm" style="width: 50rem;">
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-4">
                <img ng-src="{{ profile }}" alt="Profile Picture" class="img-fluid rounded-circle" style="width: 60%;">
              </div>
              <div class="col-md-8">
                <h5 class="card-title text-primary">Lisa Cruz</h5>
                <p class="card-text"><strong>Gender:</strong> Female</p>
                <p class="card-text"><strong>Birthdate:</strong> July 13, 1995</p>
                <p class="card-text"><strong>Joined:</strong> August 13, 2014, 9:00 AM</p>
                <p class="card-text"><strong>Last Login:</strong> August 14, 2014, 11:00 AM</p>
              </div>
              <div class="col-md-12">
                <h6 class="mt-4">Hobby:</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit laculis pretium sit amet quis magna. Aenean velit odio.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
