<div ng-controller="LoginController">
  <div class="m-auto position-absolute d-flex justify-content-center top-50 start-50 translate-middle">
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <form ng-submit="login(signin)">
          <h5 class="text-muted text-center fw-normal mb-4">Log in to your account.</h5>
          <div class="mb-4">
            <label class="form-label">Email address</label>
            <input type="email" ng-model="signin.email" class="form-control" />
            <small class="text-danger">{{signinErrors.email}}</small>
          </div>
          <div class="mb-4">
            <label class="form-label">Password</label>
            <input type="password" ng-model="signin.password" class="form-control" />
            <small class="text-danger">{{signinErrors.password}}</small>
          </div>
          <div class="row mb-4">
            <div class="col d-flex justify-content-center">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value=""/>
                <label class="form-check-label"> Remember me </label>
              </div>
            </div>
            <div class="col">
              <a href="#!">Forgot password?</a>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Sign in</button>
          <div class="d-block text-center text-decoration-none mt-3 text-muted">Not a user? <a href="#/register" class="text-decoration-none">Sign up</a> </div>
        </form>
      </div>
    </div>
  </div>
</div>