<div ng-controller="RegisterController">
  <div class="m-auto position-absolute d-flex justify-content-center top-50 start-50 translate-middle">
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <form ng-submit="register(signup)">
          <h5 class="text-muted text-center fw-normal mb-4">Create a free account.</h5>
          <div class="row mb-4">
            <div class="col">
              <div>
                <label class="form-label">Last name</label>
                <input type="text" ng-model="signup.fname" class="form-control" />
                <small class="text-danger">{{errorlist.fname}}</small>
              </div>
            </div>
            <div class="col">
              <div>
                <label class="form-label">Last name</label>
                <input type="text" ng-model="signup.lname" class="form-control" />
                <small class="text-danger">{{errorlist.lname}}</small>
              </div>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-label">Email address</label>
            <input type="email" ng-model="signup.email" class="form-control" />
            <small class="text-danger">{{errorlist.email}}</small>
          </div>
          <div class="mb-4">
            <label class="form-label">Password</label>
            <input type="password" ng-model="signup.password" class="form-control" />
            <small class="text-danger">{{errorlist.password}}</small>
          </div>
          <div class="mb-4">
            <label class="form-label">Confirm Password</label>
            <input type="password" ng-model="signup.confirm_password" class="form-control" />
            <small class="text-danger">{{errorlist.confirm_password}}</small>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
          <div class="d-block text-center text-decoration-none mt-3 text-muted">Already a user? <a href="#/login"
              class="text-decoration-none">Sign in</a> </div>
        </form>
      </div>
    </div>
  </div>
</div>